body,html{
  line-height: 1;
  font-weight: 200;
  font-family:"PingFang SC","STheitiSC-Light","Helvetica-Light",Arial,sans-serif;
}

.clearfix{
  display: inline-block;
  &:after{
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
  }
}

@media (-webkit-device-pixel-ratio: 1.5),(device-pixel-ratio: 1.5) {
  .border-1px{
    &::after{
      -webkit-transform:scaleY(0.7);
      transform:scaleY(0.7);
    }
  }
}
@media (-webkit-device-pixel-ratio: 2),(device-pixel-ratio: 2) {
  .border-1px{
    &::after{
      -webkit-transform:scaleY(0.5);
      transform:scaleY(0.5);
    }
  }
}

