@font-face {
    font-family: 'sell-icon';
    src: url('../fonts/sell-icon.eot?nbq4u4');
    src: url('../fonts/sell-icon.eot?nbq4u4#iefix') format('embedded-opentype'), url('../fonts/sell-icon.ttf?nbq4u4') format('truetype'), url('../fonts/sell-icon.woff?nbq4u4') format('woff'), url('../fonts/sell-icon.svg?nbq4u4#sell-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'sell-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add_circle {
    &:before {
        content: "\e900";
    }
}

.icon-arrow_lift {
    &:before {
        content: "\e901";
    }
}

.icon-check_circle {
    &:before {
        content: "\e902";
    }
}

.icon-close {
    &:before {
        content: "\e903";
    }
}

.icon-favorite {
    &:before {
        content: "\e904";
    }
}

.icon-keyboard_arrow_right {
    &:before {
        content: "\e905";
    }
}

.icon-remove_circle_outline {
    &:before {
        content: "\e906";
    }
}

.icon-shopping_cart {
    &:before {
        content: "\e907";
    }
}

.icon-thumb_down {
    &:before {
        content: "\e908";
    }
}

.icon-thumb_up {
    &:before {
        content: "\e909";
    }
}
